<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper">
      <header class="page-header">
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <span class="print-hidden">
            {% include icon-links.html %}
          </span>
        </div>

        <div class="executive-summary">
          <p>
            I'm a software engineer with strong experience in backend
            development and deployment into Kubernetes and public clouds. While
            lately I've been living on the backend, I'm not afraid of frontend
            work and constantly push myself to learn new technologies at all
            parts of the stack.
          </p>
        </div>

        <span class="print-hidden">
          <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        </span>
      </header>

      {% if site.resume_section_education %}
      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Colorado State University</h3>
          <h4 class="resume-item-details">Bachelors Degree, Computer Science &bull; 2012 &mdash; 2016</h4>
        </div>
      </section>
      {% endif %}

      <section class="content-section page-break">
        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Hewlett-Packard Enterprise</h3>
          <h4 class="resume-item-details">
            Software Engineer &bull; June 2016 &mdash; Present
          </h4>
          <p class="resume-item-copy">
            Currently working on
            <a href="https://www.hpe.com/us/en/solutions/cloud/hybrid-it-management.html">HPE OneSphere</a>
            and focused on backend engineering, including deployment in
            Kubernetes and AWS, monitoring, and identity management, among other
            areas.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Hewlett-Packard Enterprise</h3>
          <h4 class="resume-item-details">
            Software Engineering Intern &bull; June 2015 &mdash; June 2016
          </h4>
          <p class="resume-item-copy">
            Worked with upstream <a href="http://openstack.org/">OpenStack</a>
            project as a core contributor to the
            <a href="https://github.com/openstack/openstack-health">OpenStack Health</a>
            dashboard and <a href="https://github.com/openstack/stackviz">StackViz</a>
            performance visualization utility.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Colorado State University Surplus Property</h3>
          <h4 class="resume-item-details">IT Technician &bull; Feb 2013 &mdash; June 2015</h4>
          <p class="resume-item-copy">
            Refurbished and recycled all types of university IT equipment;
            designed and authored suite of custom internal utilities for asset
            labeling, inventory tracking, audit trail management, and secure
            data destruction.
          </p>
        </div>
      </section>

      <section class="content-section page-break print-margin">
        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="https://www.hpe.com/us/en/solutions/cloud/hybrid-it-management.html">HPE OneSphere</a>
          </h3>
          <h4 class="resume-item-details">
            HPE &bull; 2017 &mdash; Present
          </h4>
          <p class="resume-item-copy">
            A new hybrid cloud management platform that unifies public and
            private clouds. <br>
            I focus on deployment in Kubernetes and AWS, application monitoring,
            identity management, and public cloud cost analytics.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="http://monasca.io/">Monasca</a>
          </h3>
          <h4 class="resume-item-details">
            HPE &bull; 2017 &mdash; Present
          </h4>
          <p class="resume-item-copy">
            An open-source monitoring-as-a-service solution for private clouds,
            and part of the OpenStack community. <br>
            I focus on deploying the Monasca stack
            <a href="https://github.com/monasca/monasca-helm">natively in Kubernetes</a>
            and improving the developer experience with tools like the
            <a href="https://github.com/monasca/monasca-docker">Docker development environment</a>
            and the <a href="https://github.com/monasca/pr-bot"><code>pr-bot</code></a>.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="https://github.com/monasca/pr-bot">pr-bot</a>
          </h3>
          <h4 class="resume-item-details">
            HPE &bull; 2017 &mdash; 2018
          </h4>
          <p class="resume-item-copy">
            A Node.js-based service running on Google Cloud Functions that
            automates dependency updates for Docker containers, Helm charts, and
            other resources that need to be kept up-to-date between disparate
            repositories. Actively used to unify the CI/CD pipelines in the
            GitHub-hosted Monasca projects.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">OpenStack Health</h3>
          <h4 class="resume-item-details">
            HPE &bull; Fall 2015 &mdash; 2016
          </h4>
          <p class="resume-item-copy">
            A central dashboard to highlight health trends in the OpenStack
            continuous integration infrastructure and give visibility to slow or
            flaky tests.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">StackViz</h3>
          <h4 class="resume-item-details">
            HPE &bull; Summer 2015 &mdash; 2017
          </h4>
          <p class="resume-item-copy">
            A utility to aid in analysis of the performance of the OpenStack
            testing environment, providing interactive visualizations of overall
            test runtime and highlighting potential bottlenecks.
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">
            <a href="https://github.com/timothyb89/lifx-java">lifx-java</a>
          </h3>
          <h4 class="resume-item-details">
            Personal &bull; 2014 &mdash; 2015
          </h4>
          <p class="resume-item-copy">
            An event-based Java library for interacting with LIFX WiFi light
            bulbs over a local network. Uses Java 7 NIO to interact with bulbs
            using a reverse-engineered binary packet format.
          </p>
        </div>
      </section>

      <section class="content-section print-margin">
        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages</h4>
          <p class="resume-item-copy">
            Python, JavaScript and Node.js, Java, Go, HTML, CSS,
            Bash / UNIX shell script
          </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Environments</h4>
          <p class="resume-item-copy">
            Linux, Kubernetes, Docker, Amazon Web Services,
            Google Cloud Platform
          </p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Interests</h4>
          <p class="resume-item-copy">
            Developer Tooling, Continuous Integration and Delivery, Deployment,
            User Interfaces Development, Data Analysis and Presentation,
            Computer Vision, Web Development
          </p>
        </div>
      </section>

      <footer class="page-footer">
        <p class="footer-line">
          Last updated {{ site.time | date: '%B %d, %Y'}}.
        </p>
        <p class="footer-line print-hidden">
          <a href="/resume.pdf">PDF Version</a> &middot;
          <a href="https://github.com/timothyb89/timothyb89.github.io">Page Source</a>
        </p>
      </footer>
    </div>
  </body>
</html>
